body {
    background: #181e44;
}


#appFrame {
    position: absolute;
    top: 0;
    left: 25%;
    right: auto;
    width: 50%;
    height: 100%;
}

@media screen and (max-width: 1000px) {
    #appFrame {
        position: absolute;
        top: 0;
        left: 0;
        right: auto;
        width: 100%;
        height: 100%;
    }
}